body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

  
}

h1 {
  
  text-align: center;
  width: 100%;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  padding: 15px; 
  transition: transform 0.3s ease-in-out;
  flex: 1 0 calc(33.33% - 20px);
  min-width: 250px; 
  max-width: 300px; 
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  font-size: 1rem;
  color: #666;
}

.product-card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e44d26; 
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  .product-card {
    flex: 1 0 calc(100% - 20px);
    min-width: 400px; 
    max-width: 300px;
  }
}
